<div class="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2> Reset Password  </h2>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>               
                    <div class="form-group">
                        <label>User Password Reset Link</label>
                        <input type="text" formControlName="userPasswordResetLink" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userPasswordResetLink.errors }" />
                        <div *ngIf="submitted && f.userPasswordResetLink.errors" class="invalid-feedback">
                            <div *ngIf="f.userPasswordResetLink.errors.required">User Password Reset Link  is required</div>                       
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Name is required</div>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>